/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family:
    IBM Plex Mono,
    monospace;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);

  background-image: var(--page-bg);
  background-color: var(--bg-color);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.rec-label {
  position: absolute;
  top: 10px;
  right: 30px;
  color: var(--accent-color);
}

.rec-label::after {
  position: relative;
  top: 0px;
  right: -10px;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 4 / span 1;
  justify-self: right;
  align-self: center;
}

.header__theme-menu-button {
  display: flex;
  gap: 10px;
  padding: 1.5px 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.page__title {
  grid-row: 2;
  grid-column: 1 / span 4;
  font-size: var(--font-size-heading-mobile);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-decor-color);
  justify-self: left;
  align-self: center;
  line-height: 82.5%;
}

.page__subtitle-wrapper {
  grid-row: 3;
  grid-column: 1 / span 4;
  align-self: center;
}

.title-decor {
  background-color: var(--title-decor-color);
  font-size: var(--font-size-base);
  color: var(--subtitle-color);
  font-weight: 700;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.sections {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
}

.section__text {
  color: var(--text-color);
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--title-decor-color); /* параметры тени из макета */
  text-decoration: none;
  white-space: nowrap; /* предотвращает перенос текста ссылки на другую строку */
}

.link:hover {
  cursor: pointer;
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid var(--text-color); /* рамка по всем сторонам при фокусе */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card--inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card--inner:last-child {
  margin-bottom: 0; /* убираем отступ у последнего */
}

.title-decor-alt {
  display: grid;
  font-weight: 400;
}

.section-images {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  width: 100%;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* чтобы не искажалась пропорция */
}

.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
}

.footer-title {
  grid-row: 1;
  justify-self: center;
}

@media (min-width: 768px) {
  /* Здесь стили для экранов шире 768px */
  .header {
    min-height: 1024px;
    padding: 20px;
  }

  .rec-label {
    top: 20px;
    right: 40px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .page__title {
    font-size: var(--font-size-heading-desktop);
    margin-left: -20px;
  }

  .footer-title {
    margin: 0;
  }

  .page__subtitle-wrapper {
    grid-column: 3 / span 2;
  }

  .sections {
    padding: 60px 20px;
    gap: 80px;
  }

  .content-section.section-why,
  .content-section.section-how {
    grid-template-columns: 236px 1fr;
  }

  .content-section.section-what {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-why {
    grid-column: 2 / span 2;
  }

  .cards-what {
    grid-column: 1 / span 3;
  }

  .cards-how {
    grid-row: 1;
    grid-column: 2;
  }

  .section-images {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* чтобы не искажалась пропорция */
  }

  .gallery-image:nth-child(1) {
    grid-column: span 2;
    grid-row: span 3;
  }

  .gallery-image:nth-child(2) {
    grid-column: 3;
    grid-row: span 7;
  }

  .gallery-image:nth-child(3) {
    grid-column: 1;
    grid-row: span 9;
  }

  .gallery-image:nth-child(4) {
    grid-column: 2;
    grid-row: span 4;
  }

  .gallery-image:nth-child(5) {
    grid-column: span 2;
    grid-row: span 5;
  }
}

@media (min-width: 1024px) {
  /* Здесь стили для экранов шире 1024px */
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    grid-column: 2 / span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .cards-row-desktop {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .content-section.section-how,
  .content-section.section-why {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-how {
    grid-column: 2 / span 2;
  }
}
