/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --subtitle-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);

  --font-size-base: 18px;
  --line-height-base: 23.4px;
}
